---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Inicio">
  <div class="bg-slate-200 p-4 w-[100%] grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div class="block my-auto">
      <h1 class="text-4xl font-bold">Mantenimiento lo hacemos por tí</h1>
      <p class="py-2">Ofrecemos los mejores servicios de mantenimiento, respaldados por personal altamente calificado y comprometido con la excelencia. Nos aseguramos de que cada trabajo sea realizado con profesionalismo y atención al detalle, garantizando la satisfacción de nuestros clientes.</p>
    </div>
    <figure class="max-w-lg">
      <img class="h-auto max-w-full rounded-lg" src="https://placehold.co/1200x600" alt="img">
    </figure>
  </div>
  <div>
    
  </div>
</MainLayout>
